/* GLOBAL SETTINGS *//* GLOBAL SETTINGS *//* GLOBAL SETTINGS */

@font-face {
    font-family: "Verdana";
    src: url(../assets/fonts/Verdana.ttf);
}

/* CUSTOM RESET */

a {
    text-decoration: none;
    color: inherit;
}

body {
        font-family: "Verdana", sans-serif;;
        background-image: url('../assets/img/bg.png');
        background-size: cover;
        background-repeat: no-repeat;
        color: #ffffff;
    }
    
    .container {
        max-width: 1062px;
        margin: 0 auto;
    }
    
    .clearfix::after {
        content: "";
        display: block;
        clear: both;
    }
 /* HEADER */

 .header {
    margin-top: 50px;
    margin-bottom: 20px;
}

.logo {
    float: left;
    display: block;
    font-size: 29px;
    font-weight: 700;
    line-height: 29px;
    text-transform: uppercase;
    margin-left: 60px;
}

.logo:hover {
    color: #f26522;
}

.logo:hover span::before {
    background-image: url(../assets/img/logo--orange.png);
    color: #f26522;
}

.logo span {
    position: relative;
    display: block;
    font-size: 18px;
    line-height: 21px;
}

.logo span::before {
    content: '';
    position: absolute;
    display: inline-block;
    bottom: 0;
    left: 0;
    margin-left: -60px;
    width: 50px;
    height: 50px;
    background-image: url(../assets/img/logo.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
} 

.contacts {
    float: right;
    text-align: right;
    margin-top: 8px;
}

.contacts li {
    line-height: 21px;
}

/* MAIN */

/* CARD */

.card {
    float: left;
    margin-right: 69px;
    margin-top: 40px;
}

.card:nth-child(3n+3) {
    margin-right: 0;
}

.card__picture {
    position: relative;
    display: block;
    width: 307px;
    height: 200px;
    border: 2px solid;
    border-image: linear-gradient(#fff, #000) 30;
    box-shadow: 0px 0px 32px 3px rgba(0,0,0,0.84);
}

.more {
    opacity: 0;
    padding: 10px 21px;
    background: #f26522;
    position: absolute;
    width: 100%;
    bottom: 0;
    outline: 2px solid #f26522;
    transition: 0.5s;   
}
 
.card:hover  .more {
    opacity: 1;
    cursor: pointer;
}

.card:hover  .card__description {
    color: #f26522;
}

.price {
    float: left;
    font-size: 10px;
    line-height: 11px;
}

.sub {
    display: block;
    font-size: 20px;
    line-height: 21px;
}

.details {
    float: right;
    font-size: 14px;
    line-height: 21px;
    margin-top: 12px;
}

.details::after {
    content: "›";
}

.card__picture--1 { background-image: url(../assets/img/layer-1.jpeg); }
.card__picture--2 { background-image: url(../assets/img/layer-2.jpeg); }
.card__picture--3 { background-image: url(../assets/img/layer-3.jpeg); }
.card__picture--4 { background-image: url(../assets/img/layer-4.jpeg); }
.card__picture--5 { background-image: url(../assets/img/layer-5.jpeg); }
.card__picture--6 { background-image: url(../assets/img/layer-6.jpeg); }

.card__description {
    display: block;
    padding: 22px;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    transition: 0.5s;
}

/* FOOTER */
.footer {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 30px;
    font-size: 12px;
    line-height: 21px;
}