.block {
    max-width: 1080px;
    margin: 0 auto;
    padding-left: 25px;
    padding-right: 25px;
}

ul {
    list-style-type: none;
}

li {
    margin-top: 30px;
}

li:first-child {
    margin-top: 0;
}

.block__answer {
    margin-top: 10px;
    margin-left: 50px;
    font-style: italic;
}