/* GLOBAL SETTINGS *//* GLOBAL SETTINGS *//* GLOBAL SETTINGS */

@font-face {
    font-family: "Verdana";
    src: url(../assets/fonts/Verdana.ttf);
}

* {
    box-sizing: border-box;
}

/* CUSTOM RESET */

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: "Open Sans", sans-serif;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    overflow: hidden;

}

.fade-away {
    position: relative;
    width: 100%;
    min-height: 60vh;
    top: -25px;
    background-image: linear-gradient(0deg, transparent, black 75%);
    z-index: 1;
}

.star-wars {
    display: flex;
    justify-content: center;
    position: relative;
    height: 800px;
    color: #ffcc00;
    font-size: 5em;
    font-weight: 700;
    letter-spacing: 6px;
    line-height: 1.5em;
    perspective: 700px;
    text-align: center;
}

.star-wars__creeper {
    position: relative;
    top: 9px;
    transform-origin: 50% 100%;
    animation: creeper 60s linear;
    animation-iteration-count: infinite;
    animation-duration: 30s;
}

.star-wars__title {
    font-size: 90%;
    text-align: center;
}

.title-box__episod {
    margin-bottom: 100px;
}

.title-box__header {
    margin: 0 0 150px;
    text-transform: uppercase;
}

@keyframes creeper {
    0% {
        top: -100px;
        transform: rotateX(20deg)  translateZ(0);
    }
    100% { 
        top: -6000px;
        transform: rotateX(25deg) translateZ(-2500px);
    }
}
