/* GLOBAL SETTINGS *//* GLOBAL SETTINGS *//* GLOBAL SETTINGS */

@font-face {
    font-family: "Verdana";
    src: url(../assets/fonts/Verdana.ttf);
}

* {
    box-sizing: border-box;
}

/* CUSTOM RESET */

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: "Open Sans", sans-serif;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

/* HEADER  */

.header {
    background-color: #1d2124;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.logo-block {
    display: flex;
}

.logo-block__img, 
.search {
    display: flex;
    width: 70px;
    height: 70px;
    background-color: #1a1d20;
} 

.search img,
.logo-block__img img {
    margin: auto;
}

.logo-block__text  {
    margin: auto;
    padding: 5px;
    font-weight: 700;
}

.main-nav {
    display: flex;
    color: #ffffff;
    text-transform: uppercase;
}

.main-nav li {
    margin-right: 37px;
}

.main-nav li:last-child {
    margin-right: 0;
}

/* MAIN */

/* LATEST NEWS */

.latest-news {
    height: 375px;
    background: url('../assets/img/header-bg.jpeg');
    background-attachment: fixed;
    background-position-y: 720px;
    color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
}

.latest-news__header {
    font-size: 27px;
    text-transform: uppercase;
}

.latest-news__buttons {
    text-align: center;
    margin-top: 44px;
}

.btn {
    display: inline-block;
    width: 170px;
    height: 55px;
    font-size: 18px;
    border-radius: 5px;
    vertical-align: middle;
    line-height: 55px;
}

.subscribe { 
    background-color: #89ca62; 
    margin-right: 20px;
}

.articles { background-color: #14b9d5; }


/* MOST POPULAR */

.most-popular {
    background-color: #f2f2f2;
    padding-top: 0.1px;
    height: 1030px;
}

.section__header {
    color: #18b4cf;
    font-size: 27px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-top: 61px;
    margin-bottom: 50px;
}

.section__box {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    height: 900px;
}

.card {
    margin: 15px;
    width: 374px;
    /* height: fit-content; */
    color: #353a3d;
    font-size: 18px;
    font-weight: 700;
    /* border: 1px solid red; */
}

/* .card:nth-child(3n+1) { order: 1; } */
.card:nth-child(3n+2) { order: 2; }
.card:nth-child(3n)   { order: 3; }

.card__img {}

.card__text {
    text-align: center;
    padding: 19px 0 23px;
}


/* OUR CLIENTS */

.our-clients {
    background: url(../assets/img/parallax-bg.jpeg);
    background-attachment: fixed;
    height: 588px;
    display: grid;
    text-align: center;
    justify-content: center;
    align-content: center;
}

.our-clients__header {
    color: #ffffff;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
}

.our-clients__header::after {
    content: '';
    display: block;
    width: 60px;
    margin: 55px auto;
    /* left: calc(50%-30px); */ 
    height: 3px;
    background-color: #169cb4;
}

.our-clients__box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

/* TOP RATED  */

/* .box__items {
    display: grid;
    grid-template-columns: repeat(7, 170px);

} */

.box__items {
    width: 100%;
    font-size: 0;
}

.box__items img {
    display: inline-block;
    width: calc(100%/7);
}



.grid-items {
    width: 1160px;
    margin: 0 auto;

    display: grid;
    grid-gap: 2em;
    grid-template-columns: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
}

.grid__item {
    background-color: #f9f7f7;
    color: #fff;
}

.grid__item--1, .grid__item--8 {
    grid-column: 1/4;
    display: flex;
    height: fit-content;
}

.grid__item--2 img,
.grid__item--7 img {
    height: 210px;
}


.grid__item--3,
.grid__item--4,
.grid__item--5,
.grid__item--6 {
    grid-column: span 2;

}

.grid__item--8 {
    grid-column: span 3;
}

/* ***TEXT STYLE***  */

body {
    font-family: 'Open Sans', sans-serif;
}

.item-text__header {
    color: #353a3d;
    font-size: 18px;
    font-weight: 700;
}

.item-text__description {
    color: #5b6469;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

.hot-news__item {
    background-color: #f9f7f7;
}

.hot-news__item-text {
    text-align: right;
    margin: 10px 27px;
}


.grid__item--1 .item-text__header, 
.grid__item--8 .item-text__jeader {
    margin-top: 30px;
}

.grid__item--2 .item-text__header,
.grid__item--2 .hot-news__item,   
.grid__item--7 .item-text__header,
.grid__item--7 .hot-news__item    {
    padding: 0;
    margin: 0;
    text-align: center;
}

.item-text__description {
    margin-top: 22px;
}

/* ***FOOTER*** */

.footer {
    color: #fff;
    background-color: #1d2124;
    margin-top: 71px;
}

.footer .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* justify-content: space-between; */
}

.footer__text, .footer__logo {
    margin-top: 34px;
    margin-bottom: 34px;

}

.footer__text {
    grid-column: span 2;
}

.footer__logo {
    grid-column-end: 5;
}