/* GLOBAL SETTINGS *//* GLOBAL SETTINGS *//* GLOBAL SETTINGS */

@font-face {
    font-family: "Verdana";
    src: url(../assets/fonts/Verdana.ttf);
}

* {
    box-sizing: border-box;
    /* border: 1px solid red; */
}

/* CUSTOM RESET */

a {
    text-decoration: none;
    color: inherit; 
}

.bg {
    font-family: "Verdana", sans-serif;;
    background-image: url(../assets/img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    border-top: 1px solid transparent;  }

.container {
    max-width: 1031px;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

/* HEADER */

.main-header {
    background: rgba(0, 0, 0, .3);
    color: #ffffff;
    padding: 22px 0;
}

.highlight {
    color: #389d68;
}

.logo {
    float: left;
    font-size: 20px;
    font-weight: 700;
    vertical-align: middle;
    line-height: 25px;
    text-transform: uppercase;
}

.main-nav {
    float: right;
    line-height: 21px;
}

.main-header ul {
    float: left;
}

.main-nav li {
    display: inline-block;
    margin-right: 25px;
}

.icon {
    display: inline-block;
    width: 25px;
    height: 25px;
    /* background: #000; */
    background-image: url(../assets/img/css-sprite-combined.png);
    background-repeat: no-repeat;
    background-position-y: 3px;
}

.calendar { 
    background-position-x: -60px; 
}

.calendar:hover { 
    background-position-x: -89px; 
} 

.forum { 
    background-position-x: -124px; 
}

.forum:hover { 
    background-position-x: -162px; 
}

.journey { 
    background-position-x: -198px; 
}

.journey:hover { 
    background-position-x: -228px; 
}

.user-box {
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    vertical-align: middle;
}

/* MAIN  */
/* LOGIN BOX  */


.main {
    height: 90vh;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
}

.login-box {
    padding: 30px 60px;
    width: 444px;
    margin: 100px auto;
    background-color: #fff;
    border-radius: 10px;
}

.login-box__header {
    
}

._sign-up {
    float: left;
    color: #434343;
    font-size: 20px;
    line-height: 21px;
}

._log-in {
    float: right;
    font-size: 14px;
    line-height: 21px;
}

.social-btn {
    display: block;
    margin: 20px 0;
}

.btn-social {
    /* padding: 17px; */
    color: #ffffff;
    font-size: 16px;
    line-height: 21px;
    background-repeat: no-repeat;
    border-radius: 4px;
    
    display: inline-block;
    width: 157px;
    height: 46px;
    text-align: center;
    vertical-align: middle;
    line-height: 46px;
    
}

.btn-social:before {
    content: '';
    display: inline-block;
    width: 25px;
    height: 21px;
    background-image: url(../assets/img/css-sprite-combined.png);
    background-repeat: no-repeat;
    /* background-color: turquoise; */
    margin-right: 30px;
    vertical-align: middle;
}

.facebook {
    background-color: #2d57ad;
    float: left;
}

.facebook::before {
    background-position: -4px 0;

}

.google {
    background-color: #df4a32;
    float: right;
}


.google::before {
    background-position: -30px -2px;

}

.divider {
    position: relative;
    display: block;
    color: #848484;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
}

.divider::before {
    content: '';
    border-top: 1px solid #eaeaea;
    position: absolute;
    width: 45%;
    top: 10px;
    left: 0;
}

.divider::after {
    content: '';
    border-top: 1px solid #eaeaea;
    position: absolute;
    width: 45%;
    top: 10px;
    right: 0;
}


input {
    display: block;
    padding: 18px 19px;
    margin-top: 9px;
    height: 46px;
    width: 100%;
    border: 1px solid #eaeaea;
    border-radius: 5px;    
    transition: 1s;
}

input::placeholder {
    color: #bebebe;
    font-size: 14px;
    line-height: 21px;
}

input:focus {
    color: #434343;
    box-shadow: 0px 5px 5px #d4d4d4; 
    margin-bottom: 15px;
}

input#agree {
    display: inline-block;
    box-shadow: none;
    margin-bottom: inherit;
    display: inline-block;
    height: auto;
    width: auto;
}

.terms {
    /* display: inline-block; */
}

.terms-box {
    display: block;
    height: 46px;
    border: 1px solid red;
    line-height: 46px;
    margin-top: 9px;
}

.submit {
    display: block;
    width: 100%;
    background-color: #3cb878;
    color: #ffffff;
    font-size: 16px;
    line-height: 21px;
    border: none;
    height: 46px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 9px;
}

#checkbox {
    display: inline-block;
    height: auto;
    width: auto;
    position: relative;
}

#checkbox:after {
    content: '';
    display: block;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    background-color: #000;
    top: 0;
    left: 30px;

}