/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a { 
    color: inherit;
    text-decoration: none; 
}

img { width: 100%; }





/* HEADER */

ul { text-align: center; }

li { display: inline-block; }

a {
    display: inline-block;
    padding: 30px;

    font-size: 18px;
    line-height: 24px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2.7px;
    color: #16a085;
}





/* MAIN */

.image {
    position: relative;
    width: auto;

}

.image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.5);  
    z-index: 1;
}

main {
    text-align: center;
    background-color: #F5F6F7;
}

.info {
    padding-left: 55px;
    padding-right: 55px;
}

h1 {
    margin-top: 30px;

    font-size: 22px;
    line-height: 28px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2.7px;
    color: #373737;
}

p {
    margin-top: 17px;
    margin-bottom: 17px;
    
    font-size: 16px;
    line-height: 22px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    color: #373737;
}

button {
    padding: 30px 45px;
    margin-top: 32px;
    margin-bottom: 100px;
    border: none;
    border-radius: 5px;
    background-color: #16a085;

    font-size: 16px;
    line-height: 22px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
}





/* FOOTER */

footer {
    padding: 30px 55px;

    text-align: right;
}