/* GLOBAL SETTINGS *//* GLOBAL SETTINGS *//* GLOBAL SETTINGS */

    /* CUSTOM RESET */

    a {
        text-decoration: none;
        color: inherit;
    }

body {
    font-family: "Open Sans", sans-serif;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.highlighted {
    color: #4BCAFF;
}





/* HEADER *//* HEADER */ /* HEADER */

nav {
    display: inline-block;
    width: 100%;
}

.logo {
    font-size: 80px;
}

.header-navigation {
    margin-top: 30px;

    text-align: center;
    background-color: #35444F;
}

.header-navigation li {
    display: inline-block;
    padding: 20px 30px;

    font-size: 24px;
    line-height: 30px;
    color: #fff;
}

.header-navigation li:hover {
    background-color: #222F3A;
}






/* MAIN *//* MAIN *//* MAIN */

main {
    margin-top: 40px;
}



/* ASIDE *//* ASIDE *//* ASIDE */

aside {
    display: inline-block;
    margin-right: 40px;

    vertical-align: top;
}

.aside-navigation {
    width: 350px;

    border: 1px solid #000;
}

.aside-navigation li {
    padding: 25px 35px;

    font-size: 24px;
    color: #495863;
}

.aside-navigation li:hover {
    padding-left: 50px;

    color: #000;
    background-color: #DBDBDB; 

    cursor: pointer;
}





/* SECTION *//* SECTION *//* SECTION */

section {
    display: inline-block;
    width: 880px;
}

.image-box {
    width: 100%;
    padding: 50px 0;
    text-align: center;
    border: 1px solid #000;

    /* display: inline-block; Строчно-блочный элемент */
    overflow: hidden; /* Скрываем всё за контуром */
}
.image-box img {
    width: 50%;

    transition: 1s; /* Время эффекта */
    /* display: inline-block; Убираем небольшой отступ снизу */
}

.image-box img:hover {
    transform: scale(1.2); /* Увеличиваем масштаб */
}

.text {
    margin-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.text p {
    margin-top: 30px;

    font-size: 18px;
    line-height: 26px;
    letter-spacing: 1px;
    color: #2C2C2C;
}





/* FOOTER *//* FOOTER *//* FOOTER */

footer .container {
    margin-top: 50px;
    background-color: #B4B7BA;
}   

.footer-navigation {
    display: inline-block;
    
}

.footer-navigation li {
    display: inline-block;
    padding: 20px 15px;
    
    font-size: 28px;
    line-height: 34px;
    color: #0C1927;
}


.footer-navigation li:first-child {
    padding-left: 20px;
}

.footer-navigation li:hover a {
    padding-bottom: 3px;
    color: #3181A6;
    border-bottom: 1px solid #3181A6;
}

.copyright {
    display: inline-block;
    margin-left: 80px;
    font-size: 24px;
}